*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-size: 1.5rem;
}

ul {
  display: grid;
  place-items: center;
  margin: 10px;
  height: 100vh;
  padding: 5px;
  grid-template-columns: repeat(3, 1fr);
}

li {
  font-weight: bolder;
  border: 2.5px solid #727272;
  background-color: #f7f7f7;
  border-radius: 10px;
  list-style: none;
  width: 300px;
  height: 550px;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 2.5fr;
}

span {
  height: 100%;
  width: 220px;
}

span.i-html {
  background: url("image.png") no-repeat -30px -40px;
}

span.i-css {
  background: url("image.png") no-repeat -320px -40px;
}

span.i-js {
  background: url("image.png") no-repeat -610px -40px;
}
