.container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box1 {
    background-color: rgb(71, 203, 31);  
}
.box2 {
    background-color: rgb(13, 56, 251);  
}
.box3 {
    background-color: rgb(40, 40, 68); 
}
.box4 {
    background-color: rgb(126, 38, 181);   
}
.box5 {
    background-color: rgb(211, 98, 11);  
}

.box1, .box5 {
    font-size: 1rem;
    width: 5rem;
    height: 3rem;
    /* flex-basis: 10%; */
}

.box2, .box4 {
    font-size:2rem;
    width: 8rem;
    height: 5rem;
    /* flex-basis: 15%; */
}

.box3 {
    font-size:4rem;
    width: 11rem;
    height: 7rem;
    /* flex-basis: 30%; */
}